@{
  Layout = "_Layout";
}
<div class="jumbotron">
<h1>Welcome to Mullets R Us Salon!</h1>
<img src="https://media.glamour.com/photos/5695e39e93ef4b09520f3f43/master/w_1600%2Cc_limit/beauty-blogs-girls-in-the-beauty-department-0707-mullet-illegal-zoo-discount_bd.jpg" alt="Mullet Photo" />
</div>
<p>@Html.ActionLink("See all clients", "Index", "Clients")</p> 
<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>
